{% extends "Base.html"%}

{% block contenido %}
<h2 class="text-center">Animales Exoticos</h2>
<h3>Animales Marinos</h3>
<ol>
    <li>
        <h4>Tortuga Marina</h4>
        <img src="{{ url_for('static', filename = 'img/tortuga.jpeg') }}" alt="Tortuga Marina" />
        <p>Características Generales:
            Las tortugas marinas son reptiles que pertenecen a la familia Cheloniidae y Dermochelyidae, caracterizadas
            por un caparazón rígido o cartilaginoso, extremidades adaptadas a la natación y respiración pulmonar, lo que
            les permite salir a la superficie para respirar. Pueden alcanzar tamaños que varían según la especie, desde
            unos 70 cm hasta más de 2 metros de longitud, como es el caso de la tortuga laúd (Dermochelys coriacea).
            Hábitat:
            Habitan principalmente océanos y mares tropicales y subtropicales, aunque algunas especies realizan largas
            migraciones entre zonas de alimentación y playas de anidación. En México, las costas del Caribe, el Golfo de
            México y el Pacífico son cruciales para la anidación de tortugas como la tortuga caguama, laúd, priostre y
            tortuga verde.
            Alimentación:
            La dieta varía según la especie: algunas son herbívoras, como la tortuga verde que consume principalmente
            pastos marinos, mientras que otras son omnívoras o carnívoras, alimentándose de medusas, crustáceos, algas y
            plancton. Estas diferencias ecológicas contribuyen al equilibrio de los ecosistemas marinos, controlando
            poblaciones de medusas y manteniendo saludables los pastos marinos.
            Reproducción:
            Las tortugas marinas muestran filopatría natal, es decir, las hembras regresan a las playas donde nacieron
            para desovar. La reproducción implica que la hembra excave un nido en la arena, donde suele depositar entre
            50 y 150 huevos dependiendo de la especie. La incubación dura varias semanas y la temperatura de la arena
            determina el sexo de las crías, siendo más alta para hembras y más baja para machos.
            Conservación:
            Todas las especies de tortugas marinas están protegidas internacionalmente; varias están en peligro de
            extinción, principalmente debido a la destrucción de playas de anidación, contaminación marina, pesca
            incidental, comercio ilegal y cambio climático. En México existen programas de conservación y liberación de
            crías apoyados por la Semarnat y organizaciones locales, que incluyen vigilancia de playas y educación
            ambiental para la protección de estos reptiles.
            Datos Curiosos:
            La tortuga laúd puede sumergirse hasta 1,200 metros y posee un caparazón flexible y resistente al frío.
            Algunas especies pueden vivir más de 50 años.
            Representan un ícono cultural y ecológico en muchas comunidades costeras de México, siendo protagonistas de
            festivales y proyectos de ecoturismo sostenible.
            Conocer y proteger a las tortugas marinas es esencial para mantener la salud de los océanos y la
            biodiversidad marina, así como para asegurar que futuras generaciones puedan disfrutar de estos reptiles
            únicos.
        </p>
    </li>
    <li>
        <h4> Estrella de Mar</h4>
        <img src="{{ url_for('static', filename = 'img/estrella.webp') }}" alt="Estrella de Mar" />
        <p>Características generales:
            Las estrellas de mar pertenecen al filo Echinodermata y a la clase Asteroidea. Tienen un cuerpo generalmente
            aplanado en forma de estrella con cinco brazos, aunque algunas especies poseen más de cinco. Su simetría
            radial se complementa con un sistema vascular acuífero que les permite mover sus pies tubulares para
            desplazarse y capturar alimento.
            Hábitat:
            Estas especies marinas se encuentran en mares y océanos de todo el mundo, desde las zonas costeras hasta
            profundidades significativas. Suelen habitar fondos rocosos, arrecifes de coral y arenas costeras,
            adaptándose a temperaturas variadas según la especie.
            Alimentación:
            Las estrellas de mar son predadoras y carroñeras. Su principal alimento incluye moluscos como almejas y
            mejillones. Para alimentarse, evierten su estómago hacia afuera, introduciéndolo en la concha de sus presas
            y digiriendo los tejidos externamente, antes de retraerlo nuevamente al interior del cuerpo.
            Reproducción y regeneración
            Se reproducen sexualmente mediante la liberación de gametos al agua, aunque algunas especies también se
            reproducen asexualmente por fragmentación. Una característica notable es su capacidad de regenerar brazos
            perdidos; en ciertos casos, un brazo puede incluso regenerar un cuerpo completo si parte del disco central
            permanece intacta.
            Importancia ecológica:
            Las estrellas de mar desempeñan un papel clave en el equilibrio de los ecosistemas marinos, controlando
            poblaciones de moluscos y contribuyendo a la diversidad biológica del fondo marino. Además, son indicadoras
            de la salud de los ecosistemas costeros, ya que su presencia o ausencia refleja cambios ambientales como
            contaminación o variaciones de temperatura.
            En resumen, las estrellas de mar son organismos fascinantes tanto por su biología única como por su
            importancia ecológica, y su estudio ayuda a comprender mejor la dinámica de los ecosistemas marinos.</p>
    </li>
</ol>
<h3>Animales Terrestres</h3>
<ol>
    <li>
        <h4>Camaleón</h4>
        <img src="{{ url_for('static', filename = 'img/camaleon.webp') }}" alt="Camaleon" />
        <p>Características Generales:
            Los camaleones son reptiles pertenecientes a la familia Chamaeleonidae, conocidos por su capacidad de
            cambiar
            de color, sus ojos independientes y su lengua extensible. Su cuerpo es generalmente comprimido lateralmente,
            con una cola prensil que les ayuda a sujetarse a las ramas. Tienen una piel cubierta de escamas que puede
            presentar una amplia variedad de colores y patrones.
            Hábitat:
            Habitan principalmente en regiones cálidas y templadas, desde África y Madagascar hasta partes de Asia y
            Europa. Prefieren ambientes arbóreos como selvas, bosques y áreas con vegetación densa, aunque algunas
            especies se encuentran en zonas semiáridas.
            Alimentación:
            Son insectívoros, alimentándose principalmente de insectos como grillos, saltamontes y mariposas. Utilizan
            su lengua larga y pegajosa para capturar presas a distancia, extendiéndola rápidamente para atrapar a sus
            víctimas.
            Reproducción:
            La mayoría de las especies son ovíparas, depositando huevos en nidos excavados en el suelo o en la
            vegetación.
            El número de huevos varía según la especie, y el período de incubación puede durar desde varias semanas
            hasta
            meses. Algunas especies exhiben cuidado parental, protegiendo los huevos hasta su eclosión.
            Adaptaciones:
            Los camaleones tienen ojos que pueden moverse independientemente, permitiéndoles tener un campo visual
            amplio
            para detectar presas y depredadores. Su capacidad para cambiar de color no solo les ayuda en el camuflaje,
            sino también en la comunicación social y la regulación térmica.
            Conservación:
            Muchas especies de camaleones están amenazadas debido a la pérdida de hábitat, el comercio ilegal de
            mascotas
            y el cambio climático. Es crucial implementar medidas de conservación para proteger sus hábitats naturales y
            regular el comercio internacional.
            Datos Curiosos:
            Algunos camaleones pueden cambiar de color en cuestión de segundos, reflejando su estado emocional o
            condiciones ambientales. La especie más pequeña, el camaleón enano de Brookesia, mide solo unos pocos
            centímetros.
    </li>
    <li>
        <h4>Jaguar</h4>
        <img src="{{ url_for('static', filename = 'img/jaguar.webp') }}" alt="Jaguar" />
        <p>Características Generales:
            El jaguar (Panthera onca) es el felino más grande de América y el tercero más grande del mundo, después del
            tigre y el león. Se caracteriza por su pelaje amarillo dorado con manchas negras en forma de rosetas, que
            le proporcionan un camuflaje efectivo en su hábitat natural. Los jaguares tienen una constitución robusta,
            con una cabeza grande, mandíbulas poderosas y patas cortas pero musculosas, adaptadas para la caza.
            Hábitat:
            Los jaguares habitan principalmente en selvas tropicales, bosques húmedos y áreas pantanosas de América
            Central y del Sur, desde México hasta Argentina. Prefieren zonas con abundante agua, como ríos y lagos,
            donde pueden encontrar presas acuáticas.
            Alimentación:
            Son carnívoros y depredadores ápice, con una dieta variada que incluye mamíferos como ciervos, pecaríes,
            capibaras, monos y aves. También son excelentes nadadores y cazan peces y caimanes. Su técnica de caza
            implica acechar a la presa y atacar con un mordisco letal en la cabeza o el cuello.
            Comportamiento:
            Los jaguares son animales solitarios y territoriales, marcando su territorio con orina y arañazos en los
            árboles. Son principalmente nocturnos, aunque pueden ser activos durante el día en áreas menos perturbadas
            por humanos. Utilizan una variedad de vocalizaciones para comunicarse, incluyendo rugidos, gruñidos y
            maullidos.
            Reproducción:
            La reproducción no está ligada a una temporada específica; las hembras pueden dar a luz a una camada de
            uno a cuatro cachorros después de un período de gestación de aproximadamente 100 días. Los cachorros
            permanecen con la madre durante varios meses antes de independizarse.
            Conservación:
            El jaguar está clasificado como "Casi Amenazado" por la UICN debido a la pérdida de hábitat y la caza
            furtiva.
    </li>
</ol>
<h3>Animales Aereos</h3>
<ol>
    <li>
        <h4>Águila Real</h4>
        <img src="{{ url_for('static', filename = 'img/aguila.webp') }}" alt="Aguila Real" />
        <p>Características Generales:
            El águila real (Aquila chrysaetos) es una de las aves rapaces más grandes y poderosas del mundo. Se
            caracteriza por su plumaje marrón oscuro con reflejos dorados en la cabeza y el cuello, lo que le da su
            nombre. Tiene una envergadura que puede superar los 2 metros y un peso que varía entre 3 y 6.5 kg. Sus
            garras afiladas y su pico curvado están adaptados para capturar y desgarrar a sus presas.
            Hábitat:
            El águila real habita en una variedad de ecosistemas, incluyendo montañas, bosques, praderas y desiertos,
            desde América del Norte hasta Eurasia. Prefiere áreas abiertas con abundante caza y lugares elevados para
            anidar, como acantilados y árboles altos.
            Alimentación:
            Es un depredador oportunista que se alimenta principalmente de mamíferos medianos como conejos, liebres,
            marmotas y ciervos jóvenes. También caza aves, reptiles e incluso peces. Utiliza su aguda visión para
            localizar presas desde grandes alturas antes de lanzarse en picada para capturarlas con sus garras.
            Comportamiento:
            El águila real es conocida por su vuelo majestuoso y su capacidad para planear durante largos períodos.
            Son aves territoriales y suelen anidar en parejas, construyendo grandes nidos llamados aerie que pueden
            ser reutilizados durante varios años. Son monógamas y mantienen vínculos de pareja a lo largo de su vida.
            Reproducción:
            La temporada de cría varía según la región, pero generalmente ocurre en primavera. La hembra pone entre
            1 y 3 huevos, que ambos padres incuban durante aproximadamente 40-45 días. Los polluelos permanecen en el
            nido durante varios meses antes de aprender a volar y cazar por sí mismos.
            Conservación:
            Aunque el águila real no está actualmente en peligro de extinción, enfrenta amenazas como la pérdida de
            hábitat,
            el uso de pesticidas, la persecución humana y la disminución de presas. En muchos países está protegida por
            leyes y programas de conservación que incluyen la vigilancia de nidos, la restauración de hábitats y
            campañas de educación ambiental. Su presencia es un indicador de la salud de los ecosistemas y tiene un
            importante valor cultural y simbólico en diversas culturas.
    </li>
    <li>
        <h4>Guacamaya Roja</h4>
        <img src="{{ url_for('static', filename = 'img/guacamaya.webp') }}" alt="Guacamaya Roja" />
        <p>Características Generales:
            La guacamaya roja (Ara macao) es una de las aves más grandes y coloridas de la familia de los loros. Se
            caracteriza por su plumaje vibrante, predominantemente rojo con plumas azules y amarillas en las alas y
            la cola. Tiene un pico fuerte y curvado, adaptado para romper nueces y semillas, y patas zygodáctilas que
            le permiten agarrar objetos con gran destreza.
            Hábitat:
            Habita en selvas tropicales, bosques húmedos y áreas cercanas a ríos en América Central y del Sur, desde
            México hasta Brasil y Bolivia. Prefiere zonas con árboles altos donde pueda anidar y encontrar alimento.
            Alimentación:
            Su dieta es omnívora, compuesta principalmente por frutas, nueces, semillas, flores e incluso insectos.
            Utiliza su pico para abrir frutos duros y acceder a las semillas en su interior. También juega un papel
            importante en la dispersión de semillas, contribuyendo a la regeneración de los bosques.
            Comportamiento:
            Las guacamayas rojas son aves sociales que suelen vivir en parejas o pequeños grupos familiares. Son
            conocidas por su inteligencia, capacidad para imitar sonidos y vocalizaciones complejas. Durante el vuelo,
            muestran un comportamiento acrobático y pueden recorrer largas distancias en busca de alimento.
            Reproducción:
            La temporada de cría varía según la región, pero generalmente ocurre durante la estación seca. Anidan en
            cavidades de árboles altos, donde la hembra pone entre 2 y 4 huevos. Ambos padres participan en la incubación
            y el cuidado de los polluelos, que permanecen en el nido durante varias semanas antes de aprender a volar.
            Conservación:
            La guacamaya roja está clasificada como "Casi Amenazada" debido a la pérdida de hábitat, la captura para
            el comercio ilegal de mascotas y la caza. Diversas organizaciones trabajan en programas de conservación que
            incluyen la protección de hábitats naturales, la educación ambiental y la regulación del comercio de aves.
</ol>

{% endblock contenido %}