{% extends "Base.html"%}

{%  block contenido %}
<h2>Maravillas del Mundo</h2>
</ol>
    <li>
        <h4>la Gran Muralla China</h4>
        <img src="{{ url_for('static', filename = 'img/muralla.jpg') }}" alt="Muralla China" />
        <p>La Gran Muralla China es una de las construcciones más impresionantes de la historia humana y Patrimonio de la Humanidad de la UNESCO desde 1987. A continuación, se detallan aspectos clave sobre esta colosal obra: 
            Historia
            Orígenes y propósito: Su construcción comenzó alrededor del siglo III a. C. bajo el emperador Qin Shi Huang, quien unificó China y ordenó conectar fortificaciones preexistentes. El objetivo principal era defender el imperio de las invasiones de los pueblos nómadas del norte.
            Expansión y reconstrucción: El muro fue ampliado y modificado por dinastías posteriores como la Han y, de forma más notable, la Ming (1368-1644). La mayor parte de lo que se conserva hoy en día data del periodo Ming.
            Costo humano: Se estima que la construcción de la muralla tuvo un costo humano muy alto, con más de un millón de personas que murieron durante su edificación. 
            Características
            Longitud: La longitud total de la Gran Muralla, incluyendo todas sus ramificaciones, se calcula en más de 20.000 kilómetros.
            Estructura y elementos: La muralla no es una única pared continua, sino un complejo sistema de fortificaciones que incluye:
            Muros: Construidos con una variedad de materiales que incluyen tierra apisonada, ladrillos y piedra.
            Torres de vigilancia: Se utilizaban para enviar señales militares (con humo durante el día o fuego por la noche) y para la defensa.
            Guarniciones y cuarteles: Situados estratégicamente para el alojamiento y despliegue de tropas.
            Leyenda: Una famosa leyenda china cuenta la historia de Meng Jiangnü, una mujer que lloró la muerte de su esposo, que había sido reclutado para construir el muro. Se dice que sus lágrimas fueron tan poderosas que una sección de la muralla se derrumbó. 
        </p>
    </li>
    <li>
        <h4>Machu Picchu</h4>
        <img src="{{ url_for('static', filename = 'img/Machu.jpg') }}" alt="Machu Pichu" />
        <p>Machu Picchu, que significa "Montaña Vieja" en quechua, es una impresionante ciudadela inca del siglo XV, ubicada en la Cordillera Oriental del sur de Perú. Se considera una de las Siete Nuevas Maravillas del Mundo Moderno y un sitio Patrimonio de la Humanidad por la UNESCO. 
            Ubicación
            País: Perú.
            Región: Se encuentra en una cresta montañosa, a 2430 metros de altitud, sobre el Valle del río Urubamba.
            Acceso: Para visitarla, la mayoría de los viajeros vuelan primero al Aeropuerto Internacional de Cusco. 
            Historia
            Construcción: Se cree que fue construida a mediados del siglo XV por el emperador inca Pachacútec, en la época de mayor expansión del imperio. Su función fue probablemente la de residencia imperial y santuario religioso.
            Descubrimiento: La ciudadela, cubierta por la selva, fue redescubierta para el mundo en 1911 por el explorador estadounidense Hiram Bingham, aunque los habitantes locales ya conocían su existencia. 
            Lugares destacados
            Machu Picchu se divide en una zona agrícola, con amplias terrazas, y una zona urbana con templos, recintos y plazas. Algunos de los sitios más emblemáticos son: 
            Templo del Sol: Una de las estructuras más importantes, con una torre semicircular construida con bloques de piedra finamente tallados.
            Intihuatana: Un reloj solar de piedra con fines ceremoniales y astronómicos.
            Templo de las Tres Ventanas: Una estructura con tres grandes ventanas trapezoidales que miran hacia la plaza principal.
            Huayna Picchu: La montaña que se alza detrás de la ciudadela, cuyas vistas panorámicas atraen a muchos visitantes. La entrada requiere un boleto adicional.
            Puerta del Sol "Inti Punku": La entrada principal del Camino Inca, que ofrece vistas espectaculares de la ciudadela al amanecer. 
            Consejos para la visita
            Boletos: Se recomienda comprar las entradas con anticipación, especialmente para las subidas a las montañas adicionales como Huayna Picchu.
            Circuitos: Para gestionar el flujo de visitantes, el sitio está dividido en varios circuitos. Para una primera visita, a menudo se recomienda el Circuito 2, que permite tomar la foto clásica y recorrer la ciudadela.
            Temporada: La mejor época para visitar es la temporada seca, de mayo a octubre, aunque también es la más concurrida.
            Aclimatación: Es recomendable pasar unos días en Cusco para aclimatarse a la altitud antes de la visita. 
        </p>
    </li>
    <li>
        <h4>El Coliseo Romano</h4>
        <img src="{{ url_for('static', filename = 'img/coliseo.jpg') }}" alt="Coliseo Romano" />
        <p>El Coliseo Romano, también conocido como el Anfiteatro Flavio, es uno de los monumentos más emblemáticos de la antigua Roma y una de las Siete Maravillas del Mundo Moderno. Construido en el siglo I d.C., este colosal anfiteatro ha sido testigo de innumerables eventos históricos y sigue siendo un símbolo perdurable del ingenio arquitectónico romano. A continuación, se detallan aspectos clave sobre el Coliseo Romano: 
            Historia
            Construcción: La construcción del Coliseo comenzó en el año 72 d.C. bajo el emperador Vespasiano y se completó en el 80 d.C. durante el reinado de su hijo Tito. Fue construido sobre los terrenos de un lago artificial que formaba parte del complejo palaciego del emperador Nerón.
            Propósito: El Coliseo fue diseñado para albergar espectáculos públicos, incluyendo combates de gladiadores, cacerías de animales salvajes, ejecuciones y representaciones teatrales basadas en la mitología romana.
            Capacidad: Se estima que el Coliseo podía albergar entre 50,000 y 80,000 espectadores, organizados en diferentes niveles según su estatus social. 
            Arquitectura
            Diseño: El Coliseo tiene una forma elíptica con una longitud de 189 metros y una anchura de 156 metros. Su altura alcanza los 48 metros en su punto más alto.
            Estructura: Está construido principalmente con piedra travertina, ladrillo y hormigón romano. Cuenta con un sistema avanzado de bóvedas y arcos que proporcionan estabilidad y resistencia.
            Niveles: El anfiteatro tiene cuatro niveles principales, cada uno con diferentes tipos de asientos y accesos. Los niveles inferiores estaban reservados para la élite romana, mientras que los superiores eran para el público general.
            Innovaciones: El Coliseo contaba con un sistema de drenaje sofisticado y un mecanismo para cubrir la arena con un toldo (velarium) para proteger a los espectadores del sol. 
            Importancia Cultural
            Símbolo de Roma: El Coliseo es un símbolo icónico de la antigua Roma y su poderío. Representa la grandeza de la ingeniería romana y su capacidad para organizar eventos masivos.
        </p>
    </li>
    <li>
        <h4>El Taj Mahal</h4>
        <img src="{{ url_for('static', filename = 'img/taj.jpg') }}" alt="Taj Mahal" />
        <p>El Taj Mahal es un mausoleo de mármol blanco ubicado en Agra, India, y es considerado una de las maravillas arquitectónicas del mundo. Fue construido por el emperador mogol Shah Jahan en memoria de su esposa favorita, Mumtaz Mahal, quien falleció durante el parto de su decimocuarto hijo en 1631. A continuación, se detallan aspectos clave sobre el Taj Mahal: 
            Historia
            Construcción: La construcción del Taj Mahal comenzó en 1632 y se completó en 1653, involucrando a miles de artesanos y trabajadores. El diseño se atribuye al arquitecto Ustad Ahmad Lahauri.
            Propósito: El mausoleo fue concebido como un símbolo del amor eterno entre Shah Jahan y Mumtaz Mahal, y también como un monumento funerario para ambos.
            Arquitectura
            Diseño: El Taj Mahal es un ejemplo destacado de la arquitectura mogol, que combina elementos islámicos, persas, otomanos e indios. La estructura principal está hecha de mármol blanco extraído de las canteras de Makrana.
            Elementos destacados:
            Cúpula: La cúpula central es una de las características más distintivas del Taj Mahal, con una altura de aproximadamente 35 metros y rodeada por cuatro cúpulas más pequeñas.
            Minaretes: Cuatro minaretes simétricos flanquean el mausoleo, cada uno con una ligera inclinación hacia afuera para proteger la estructura principal en caso de un terremoto.
            Jardines: El Taj Mahal está rodeado por jardines formales diseñados según el estilo persa charbagh, que simbolizan el paraíso islámico.
            Decoración: La decoración incluye intrincados trabajos de incrustación con piedras preciosas y semipreciosas, así como inscripciones caligráficas de versos del Corán. 
            Importancia Cultural
            Patrimonio de la Humanidad: El Taj Mahal fue declarado Patrimonio de la Humanidad por la UNESCO en 1983 y es uno de los destinos turísticos más visitados del mundo.
            Símbolo del amor: Más allá de su valor arquitectónico, el Taj Mahal es ampliamente reconocido como un símbolo del amor eterno y la devoción.
        </p>
    </li>
    <li>
        <h4>El Cristo Redentor</h4>
        <img src="{{ url_for('static', filename = 'img/cristo.webp') }}" alt="Cristo Redentor" />
        <p>Historia
            Origen: La idea de una gran estatua religiosa en el monte Corcovado surgió a mediados del siglo XIX, pero el proyecto se pospuso. Resurgió en 1921, con una campaña de la Iglesia católica que recaudó fondos de miles de brasileños.
            Construcción: La construcción se llevó a cabo entre 1922 y 1931. El diseño final fue obra del arquitecto brasileño Heitor da Silva Costa. La figura de la estatua fue esculpida en Francia por el artista Paul Landowski y enviada por partes a Brasil.
            Inauguración: La estatua se inauguró el 12 de octubre de 1931. 
            Características
            Dimensiones: La estatua mide 30 metros de altura, con un pedestal de 8 metros. Los brazos extendidos abarcan 28 metros de ancho, y pesa 1145 toneladas.
            Materiales: Está construida con hormigón armado y revestida con miles de teselas de esteatita, una piedra resistente que se eligió por su durabilidad y fácil manejo.
            Diseño: El diseño de Cristo con los brazos abiertos representa un símbolo de paz y de la acogida de los brasileños. Un dato curioso es que el brazo izquierdo es 40 cm más corto que el derecho para equilibrar la estructura ante los fuertes vientos.
            Protección contra rayos: La corona de espinas que rodea la cabeza de la estatua actúa como pararrayos. 
            Visita
            Ubicación: Se encuentra dentro del Parque Nacional de la Tijuca, a 710 metros de altura, ofreciendo vistas panorámicas de la ciudad.
            Cómo llegar: Los visitantes pueden llegar a la cima del cerro Corcovado en el tradicional tren cremallera del Corcovado, en furgonetas oficiales o en coche.
            Experiencia: Al pie de la estatua, hay una plataforma de observación con vistas espectaculares de Río, incluyendo el Pan de Azúcar, las playas de Copacabana e Ipanema y el estadio de Maracaná. También hay una pequeña capilla en la base. 
        </p>
    </li>
        <ol>
{% endblock contenido %}