{% extends "Base.html"%}

{%  block conten %}
<h2>Maravillas del Mundo</h2>
</ol>
    <li>
        <h4>la Gran Muralla China</h4>
        <img src="{{ url_for('static', filename = 'img/muralla.jpg') }}" alt="Muralla China" />
        <p>Una impresionante estructura que se extiende a lo largo de miles de kilómetros, 
        construida para proteger a China de invasiones. Es un símbolo de la ingeniería antigua y
        la perseverancia humana. </p>
        </p>
    </li>
    <li>
        <h4>Machu Picchu</h4>
        <img src="{{ url_for('static', filename = 'img/Machu.jpg') }}" alt="Machu Pichu" />
        <p> </p>
    <ol>
    
{% endblock conten %}